name: CI

on:
  push:
  pull_request:
    branches: [ main ]

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v4

    - name: Set up JDK
      uses: actions/setup-java@v4
      with:
        distribution: 'temurin'
        java-version: '17'

    - name: Setup Clojure
      uses: DeLaGuardo/setup-clojure@12.3
      with:
        cli: latest

    - name: Cache dependencies
      uses: actions/cache@v4
      with:
        path: |
          ~/.m2/repository
          ~/.gitlibs
          ~/.deps.clj
          .cpcache
        key: ${{ runner.os }}-clojure-${{ hashFiles('**/deps.edn') }}
        restore-keys: |
          ${{ runner.os }}-clojure-

    - name: Lint
      run: make lint

    - name: Format Check
      run: make format-check

    - name: Run Tests
      run: make test

    - name: Tag LATEST
      # if: github.ref == 'refs/heads/main' && success()
      uses: cardinalby/git-tag-action@master
      env:
        TAG: LATEST
        GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}