name: CI

on:
  push:
  pull_request:
    branches: [ main ]

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v4

    - name: Set up JDK
      uses: actions/setup-java@v4
      with:
        distribution: 'temurin'
        java-version: '17'

    - name: Setup Clojure
      uses: DeLaGuardo/setup-clojure@12.3
      with:
        cli: latest

    - name: Cache dependencies
      uses: actions/cache@v4
      with:
        path: |
          ~/.m2/repository
          ~/.gitlibs
          ~/.deps.clj
          .cpcache
        key: ${{ runner.os }}-clojure-${{ hashFiles('**/deps.edn') }}
        restore-keys: |
          ${{ runner.os }}-clojure-

    - name: Lint
      run: make lint

    - name: Format Check
      run: make format-check

    - name: Run Tests
      run: make test
    - name: Create tag
      uses: actions/github-script@v5
      with:
        script: |
          const { Octokit } = require("@octokit/rest");
          const octokit = new Octokit({ auth: process.env.GITHUB_TOKEN });

          octokit.git.createRef({
            owner: context.repo.owner,
            repo: context.repo.repo,
            ref: 'refs/tags/<tagname>',
            sha: context.sha
          }).catch(error => {
            core.setFailed(`Action failed with error: ${error}`);
          });
      env:
        GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
